.navbarButton {
  color: #000;
  padding: 5px 15px;
  border-radius: 20px;
}
.navbarButton:hover {
  transform: rotate(10deg);
  color: #000;
  transition: 1s;
}
.navbarDashboard:hover {
  transform: rotate(-10deg);
  transition: 500ms;
}
.loginButton:hover {
  transform: scale(1.1);
  transition: 800ms;
}
.linuxLogo:hover {
  filter: brightness(120%);
  transform: scale(1.1);
  transition: 800ms;
}
.navbarButton::after {
  content: "";
  width: 0%;
  background-color: #000;
  display: block;
  height: 4px;
  width: 0%;
  transition: 1s;
}
.navbarButton:hover:after {
  width: 100%;
}
.profileImage {
  cursor: pointer;
}
.navbarContainer {
  background-color: #ffffff !important;
  transition: 500ms;
}
#displayMargin {
  margin-top: 100px;
}
@media only screen and (max-width: 988px) {
  .navbarButton {
    margin-top: 10px;
    text-align: center;
  }
  .navbarButton:hover {
    color: #000;
    transform: rotate(0deg);
  }
  .navbarButton:hover::after {
    width: 0%;
  }
  .navbarDashboard {
    margin-top: 19px;
    margin-bottom: 10px;
  }
  .navbarDashboard:hover {
    transform: scale(1);
    transition: 500ms;
    border-bottom: 0px solid #000;
    border-top: 0px solid #000;
    border-radius: 20px;
  }
  .navbarContainerRes {
    background-color: #fff !important;
  }
}
