.reviewUnderline {
  border-bottom: 5px solid #000;
  color: #000633;
  padding: 10px;
  display: inline-block;
  padding-bottom: 20px;
  border-radius: 100px;
  font-family: "Teko", sans-serif;
}
.ellipsisReview {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
