.confirm-Order {
  text-align: center;
}
.confirm-Order h1 {
  color: #00d5ff;
}
.Button {
  background-color: #00d5ff;
  border: 0;
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
