.blogContainer {
  background: linear-gradient(0deg, #a3a3a356, #f7f7f75e),
    url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RWBzYW?ver=d8d8);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.borderUnderlineBlog {
  border-bottom: 5px solid #000;
  border-top: 5px solid #000;
  color: #000633;
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  display: inline-block;
  font-family: "Teko", sans-serif;
}
.exploreContainer {
  border-radius: 20px;
}
.title {
  font-family: "Concert One", cursive;
}
.carouselImage {
  border-radius: 20px;
  height: 40vh;
}
.videos {
  border-radius: 20px;
  margin-bottom: 30px;
}
.containerMarginMinus {
  margin-top: -400px;
}
@media only screen and (max-width: 988px) {
  .blogContainer {
    margin-top: 100px;
  }
  .borderUnderlineBlog {
    margin-top: -100px;
  }
  .containerMarginMinus {
    margin-top: -700px;
  }
}
