.dashboardContainer {
  background: linear-gradient(100deg, #658dd65d, #ffffff);
}
.dashboardNev {
  color: #000;
}
.dashboardNev:hover {
  transform: scale(0.9);
  color: #fff;
  background-color: #000;
}
