.dashboardContainer {
  background: linear-gradient(100deg, #658dd65d, #ffffff);
}
.dashboardNev {
  color: #fff;
}
.dashboardNev:hover {
  transform: scale(0.9);
  transition: 300ms;
  color: #fff;
}
