.dashboardContainer {
  background: linear-gradient(50deg, #1558d35d, #ffffff);
}
.dashboardNev {
  color: #fff;
}
.dashboardNev:hover {
  transform: scale(0.9);
  transition: 300ms;
  color: #fff;
}
