.borderUnderline3 {
  border-bottom: 5px solid #000;
  border-top: 5px solid #000;
  color: #000633;
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  display: inline-block;
  font-family: "Teko", sans-serif;
}
.ellipsis3 {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.brand3 {
  background-color: #ab85ad5e;
  padding: 2px 10px;
  border-radius: 20px;
  color: #000633;
}
.cardBody3 {
  border: 0;
  border-top: 5px solid #673d6bf8;
  border-radius: 10px;
  padding: 10px;
  left: 0;
  bottom: 0;
}
.buttonColor3 {
  background-color: #673d6bf8;
  color: #fff;
}
.rated3 {
  background-color: #ffd4fb;
  padding: 3px 12px;
  border-radius: 20px;
  margin-left: 10px;
  color: rgb(54, 54, 54);
}
.spinnerM {
  padding: 100px;
}
@media only screen and (max-width: 768px) {
  .cardBody3 {
    margin-left: -60px;
    margin-right: -60px;
  }
  .spinnerM {
    padding: 30px;
  }
}
