.borderUnderline2 {
  border-bottom: 5px solid #000;
  border-top: 5px solid #000;
  color: #000633;
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  display: inline-block;
  font-family: "Teko", sans-serif;
}
.ellipsis2 {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.brand2 {
  background-color: #ab85ad5e;
  padding: 2px 10px;
  border-radius: 20px;
  color: #000633;
}
.cardBody2 {
  border: 0;
  border-top: 5px solid #673d6bf8;
  border-radius: 10px;
  padding: 10px;
  animation: action 1s infinite alternate;
  left: 0;
  bottom: 0;
}
.buttonColor {
  background-color: #673d6bf8;
  color: #fff;
}
.cardBody2:hover {
  cursor: url(./cursor.png), auto;
  animation: action;
}
.rated2 {
  background-color: #ffd4fb;
  padding: 3px 12px;
  border-radius: 20px;
  margin-left: 10px;
  color: rgb(54, 54, 54);
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
