.bannerContainer {
  background: linear-gradient(0deg, #ffffff1f, #ffffffa8),
    url("https://i.ibb.co/m8NG3NT/main.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  animation: zoom 20s infinite;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerContainer2 {
  background-color: #575171;
  height: 130vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 91%);
}
.bannerItem {
  display: flex;
  align-items: center;
}
@keyframes zoom {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 135% auto;
  }
  100% {
    background-size: 100% auto;
  }
}
.image1 {
  background-image: url(https://i.ibb.co/zZp5cbj/66.jpg);
  height: 50vh;
  background-size: cover;
  position: relative;
  animation: slide 59s infinite;
  background-position: center;
  border: 3px solid rgb(255, 247, 174);
  border-radius: 10px;
}
@keyframes slide {
  0% {
    background-image: url(https://i.ibb.co/m8NG3NT/main.jpg);
  }
  20% {
    background-image: url(https://i.ibb.co/HdRk3zc/Cheerful-Gamer-Playing-First-Person-Shooter-Online-Video-Game-on-His-Powerful-Personal-Computer-Room.jpg);
  }
  40% {
    background-image: url(https://i.ibb.co/6PynPL3/33.jpg);
  }
  50% {
    background-image: url(https://i.ibb.co/vq1CGk8/Top-end-system-unit-for-gaming-computer-close-up-Inside-of-illuminated-cybercafe-Concept-of-modern-t.jpg);
  }
  60% {
    background-image: url(https://i.ibb.co/gj7PfJm/3.jpg);
  }
  80% {
    background-image: url(https://i.ibb.co/FHndbfp/22.jpg);
  }
  100% {
    background-image: url(https://i.ibb.co/zZp5cbj/66.jpg);
  }
}
.dreamPc {
  color: rgb(233, 233, 233);
}
