::-webkit-scrollbar {
  background: #3a4256;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(10deg, #719ae4, #57ecf1);
  border-radius: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
